@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form asp-action="Punto3" asp-controller="Home" method="post">
    <label>Mostrar Listado de Provincias</label>
    <input id="Submit1" type="submit" value="Mostrar" />
</form>

</div>
